---
import PokemonCard from "../components/Card.astro";
import { getPokemonList } from "../lib/pokemon";
import "../global.css";

const pokemon = await getPokemonList();
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<main class="mx-auto max-w-6xl px-5 py-8">
			<div
				class="grid grid-cols- gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
			>
				{
					pokemon.map((p) => (
						<PokemonCard id={p.id} name={p.name} types={p.types} hp={p.hp} />
					))
				}
			</div>
		</main>
	</body>
</html>
